/* bars */
.axis--x path {
    display: none;
}

/* ALL TABLES */
table {
    width: 100%;
    border-collapse:collapse;
    font-family: sans-serif;
    padding: 0;
}

table, td {
    /*border: 1px solid black;*/
}

.chart_td {
    vertical-align: top;
}

/* Chart Title Tds */
#list_title1, #list_title2 {
    text-align: center;
    font-weight: 900;
    color: #696969;
}

#list_title1 {
    font-size: 38px;
}

#list_title2 {
    font-size: 53px;
}

.text_column {
    width: 300px;
    color: #696969;
}

#conclusion {
    background: #E0E0E0;
    position: relative;
}


#conclusion_content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}

/* Chart  Tds */
#list_radio {
    vertical-align: top;
    background-color: #696969;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

#map {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

.effective, .effective svg {
    position: absolute;
}

.effective svg {
    width: 60px;
    height: 60px;
    padding-right: 100px;
    font: 10px sans-serif;
}

/* Colour Table and individual tds - Colour key, Row 1*/
#colours {
    width: 30%;
}

/* Line Chart lines, tooltips and All axes text and paths */
.tooltipUp, .tooltipDown, .tooltipSymbol {
    text-align: center;
    visibility: hidden;
    position: absolute;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 4px;
    pointer-events: none;
}

.tooltipUp {
    background: #696969;
    color: white;
}

.tooltipDown {
    background: white;
    color: #696969;
}

.dolorImg {
    width: 50px;
    height: 50px;
    text-align: left;
    display: block;
    margin: 0;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}


/* Input Boxes */
input[type=radio] {
    display:none;
}

input[name="options"] {
    display:none;
    font-size: 14px;
}

input[name="search_option"]:checked + label {
    color: #523ba5;
}

input[name="options"]:checked + label {
    color: #523ba5;
}

#input {
    padding: 10px;
    font-size: 20px;
}
