/* bars */
.bar {
    /*fill: steelblue;*/
}

.axis--x path {
    /*display: none;*/
}

/* ALL TABLES */
table {
    width: 100%;
    border-collapse:collapse;
    font-family: sans-serif;
    padding: 0;
}

table, td {
    border: 1px solid black;
}

.chart_td {
    padding: 10px;
    vertical-align: top;
}

/* Chart Title Tds */
#list_title1, #list_title2 {
    text-align: center;
    font-weight: 900;
    color: #757575;
}

#list_title1 {
    font-size: 38px;
}

#list_title2 {
    font-size: 53px;
}

/* Chart  Tds */
#list_radio{
    vertical-align: top;
    background-color: #757575;
    text-align: left;
    font-size: 16px;
    padding: 10px;
}

#map {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

.effective, .effective svg {
    position: absolute;
}

.effective svg {
    width: 60px;
    height: 60px;
    padding-right: 100px;
    font: 10px sans-serif;
}

/* Colour Table and individual tds - Colour key, Row 1*/
#colours{
    width: 30%;
}

/* Line Chart lines, tooltips and All axes text and paths */
.tooltip_map{
    width: 200px;
    height: auto;
    text-align: left;
    visibility: hidden;
    position: absolute;
    border: 1px solid grey;
    padding: 5px;
    font: 25px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
}

.tooltip_bar{
    width: 200px;
    height: 200px;
    text-align: left;
    visibility: hidden;
    position: absolute;
    border: 1px solid grey;
    padding: 5px;
    font: 25px sans-serif;
    background: white;
    border-radius: 4px;
    pointer-events: none;
    margin-left: -100px; /* Use half of the width (200/2 = 100), to center the tooltip */
    margin-top: -210px;  /* slightly larger than height*/
}

.line {
    fill: none;
    stroke-width: 2.5px;
}


/* Input Boxes */
input[type=radio] {
    display:none;
}

input[name="options"] {
    display:none;
    font-size: 14px;
}

input[name="search_option"]:checked + label {
    color: #57bcd2;
}

input[name="options"]:checked + label {
    color: #57bcd2;
}

#input{
    padding: 10px;
    font-size: 20px;
}
